<h2 class='session'>管理者　ログインページ</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="session">
    メールアドレス<br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="session">
    パスワード<br />
    <%= f.password_field :password, autocomplete: "password" %>
  </div>

  <div class="session">
    <%= f.submit "ログイン" %>
  </div>
<% end %>


