<h1 style="text-align:center">factyの使い方（デモサイトのため実際には販売、購入できません）</h1>
<h5 style="text-align:center">
    まずは新規登録をしていただきます。</br>
    そうすると商品の投稿、購入ができるので投稿、購入をしてみてください！</br>
    購入した場合、マイページにある購入履歴に購入したものが表示されます。</br>
    自分の投稿した商品が誰かに購入された場合は購入した人の送りたい宛名、住所がマイページの販売履歴に追加されるのでその住所に配送しましょう！！
</h5>