<h1>facty</h1>
<p>文字が入ります。</p>
<div><%= link_to ' ログインはこちら', new_end_user_session_path %></div>
<div><%= link_to ' 新規登録はこちら', new_end_user_registration_path %></div>
<%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %>