.user_edit {
    margin-left: 150px;
    margin-top: 50px;
}

.user_edit_btn {
    position: relative;
    padding-top: 30px;
    left: 200px;
}

.user_show{
    margin-left: 150px;
    margin-top: 50px;
}
.user_index{
    margin-left: 150px;
    margin-top: 50px;
}
.user_show_btn{
    padding-top: 10px;
    margin-left: 150px;
}