// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item_show{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.item_show_btn{
   margin-top: 50px;
}

.item_new{
    margin-left: 150px;
    margin-top: 50px;
}

.item_index{
    margin-left: 650px;
    margin-top: 50px;
    font-size: 25px;
}

.item_index_new{
    margin-left: 200px;
    margin-top: 50px;
}

.item_index_title{
    margin-left: 200px;
    margin-top: 50px;
}

.item_edit{
    margin-left: 150px;
    margin-top: 50px;
}

.admin_item_index{
    margin-left: 150px;
    margin-top: 50px;
}

.item_index_profil{
    padding-top: 10px;
}