// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order_new{
    margin-left: 150px;
    margin-top: 50px;
}

.order_new_btn{
    position: relative;
    padding-top: 30px;
    left: 200px;
}

.thanks{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.order_buyer{
    margin-left: 150px;
    margin-top: 50px;
}

.order_buyer_info{
    padding-right: 20px;
}

.order_check{
    margin-left: 150px;
    margin-top: 50px;
}

.order_index{
    margin-left: 150px;
    margin-top: 50px;
}

.order_index_info{
    padding-right: 30px;
    padding-top: 10px;
}

.order_show{
    margin-left: 150px;
    margin-top: 50px;
}