// Place all the styles related to the searchs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search {
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 30px;
}